
/* for the sake of the structure, I will live the divs with border, so I can see
exactly how am I positioning the stuff */

div {
  border:solid;
}

/* the idea so far is for the content to occupy the center of the screen,
in three different screens:
presentation
works
about me

The menu and the footer are not part of this and I will work on them later.
The thing is that, since I want to occupy the screen verically, I use a div for
each content, with a with of 100vh*/

.screen {
  height: 100vh;
}

.content {
  grid-column-start: 2;
}

#presentation {
  display:grid;
  grid-template-columns: 1fr 1024px 1fr;
}

#works {
  display:grid;
  grid-template-columns: 1fr 1024px 1fr;
}

#maintitle {
  align-self: center;
}



h1 {
  color: #39393a;
  font-size: 48px;
  font-weight: 700;
  margin: 0;

}

h2 {
  color: #fefe37;
  background-color: #39393a;
  margin-top: 32px;

}

img {
  width: 160px;
  height: 160px;
}

#tinyme {
  width: 25%;
  height: 25%;
}

#portrait {
  width:100%;
  text-align: center;
}

#notjust {
  color: #fefe37;
  background-color: #39393a;
}

p {
  color: #39393a;
}

#worklist li {
  display: inline;
  margin: 32px;
}

#worklist {
  text-align: center;
}

#lets {
  text-align: center;
}

#contactlist li {
  display: inline;
  margin: 32px;
}

#contactlist {
  text-align: center;
}
